<tr>
  <td>
    <%= vehicle.year %>
  </td>
  <td>
    <%= vehicle.make %>
  </td>
  <td>
    <%= vehicle.model %>
  </td>
  <td>
    <%= vehicle.mileage %>
  </td>
  <td>
    <% if vehicle.currently_owned? %>
      <%=t :yes %>
    <% else %>
      <%=t :no %>
    <% end %>
  </td>
  <td>
    <%= link_to t(:edit), edit_vehicle_path(vehicle.id) %>
  </td>
</tr>
